/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(90deg, #4CAF50, #45a049);
    color: white;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    gap: 10px;
}

.search-bar input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #45a049;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    height: 280px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dcbfbf;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.bn {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white; /* Reverted back to white */
    width: 20%;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bn .btn {
    color: white; /* Ensure the anchor text is white */
    text-decoration: none; /* Remove underline from link */
}
button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

#loading-spinner {
    margin-top: 20px;
    font-size: 18px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

footer .social-media {
    margin-top: 10px;
}

footer .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer .social-media a:hover {
    text-decoration: underline;
}
